name: Playwright Tests
on:
  workflow_call:
    inputs:
      deployment-url:
        required: true
        type: string
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    env:
      PLAYWRIGHT_BASE_URL: ${{ inputs.deployment-url }}
      TEST_SUPABASE_URL: ${{ secrets.TEST_SUPABASE_URL }}
      TEST_SUPABASE_KEY: ${{ secrets.TEST_SUPABASE_KEY }}
      TEST_ADMIN_1_PW: ${{ secrets.TEST_ADMIN_1_PW }}
      TEST_MAINTAINER_1_PW: ${{ secrets.TEST_MAINTAINER_1_PW }}
      TEST_MAINTAINER_2_PW: ${{ secrets.TEST_MAINTAINER_2_PW }}
      TEST_ROLELESS_USER_PW: ${{ secrets.TEST_ROLELESS_USER_PW }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - name: Install dependencies
        run: npm install -g pnpm && pnpm install
      - name: Install Playwright Browsers
        run: pnpm exec playwright install --with-deps
      - name: Run Playwright tests
        run: pnpm exec playwright test
      - name: GitHub Test Reporter
        uses: ctrf-io/github-test-reporter@d1e394283c0ca33d34c9b6d8983aaef6945b52ec
        if: ${{ !cancelled() }}
        with:
          report-path: './ctrf/*.json'
          summary-report: true
          failed-report: true
          flaky-report: true
          skipped-report: true
          suite-folded-report: true
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: ctrf-report
          path: ctrf/
          retention-days: 30
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
